{
  "type": "",
  "service": "",
  "nodeEnv": "prod",
  "ethAddress": "",
  "sharedDirPath": "",
  "gpuDeviceNumber": "",
  "jobType": "",
  "dockerAuth": {
    "username": "",
    "password": "",
    "server": ""
  },
  "slack_webhook_url": ""
}