apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ storageId }}
  namespace: {{ namespaceId }}
spec:
  storageClassName: {{ storageId }}
  accessModes:
  - ReadWriteMany
  capacity:
    storage: {{ capacityGB }}Gi
  nfs:
    server: {{ nfsInfo.server }}
    path: {{ nfsInfo.path }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ storageId }}
  namespace: {{ namespaceId }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ capacityGB }}Gi